@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    overflow: hidden;
    color: #000 !important;
    background-color: #fff !important;
    padding-right: 4% !important;
    padding-left: 3% !important;
    display: block;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 100%;
  }

  .nav_logo {
    width: 20%;
    height: 80%;
  }

  .nav-right {
    width: auto;
  }

  .logo_img {
    max-width: 70px;
    max-height: 100%;
  }

  .logo {
    padding-top: 6px;
  }

  .title {
    //padding: 4% 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    white-space: normal;
    font-size: 1.6vw;
    font-family: "Helvetica Neue", Helvetica, Frutiger, Univers, sans-serif;
    color: #0182ca;
    letter-spacing: 0.5px;
  }

  .button {
    padding: 12px 1vw;
  }

  .top {
    top: 0;
    height: 30px;
  }

  .changeLang {
    height: 30px;
    width: 20px;
    //padding-top: 1.1vh;
    font-size: 1.5vh;
  }
}
