@media (min-width: 320px) and (max-width: 480px) {
  .project {
    height: 850px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -2%;
  }

  .project_banner {
    background-color: #0182ca;
    width: 100%;
    height: 30px;
    font-size: 3vw;

    .project_banner_word {
      font-size: 3vw;
    }

    .small_font {
      font-size: 2.5vw;
    }

    .small_font_cn {
      font-size: 2.5vw;
    }
    .exsmall_font_cn {
      font-size: 1.9vw;
    }
  }

  .project_info {
    width: 100%;
    height: 613px;
  }

  .project_banner_country {
    display: inline-block;
    white-space: pre;
    font-weight: bold;
  }

  .country_list {
    height: 50%;
  }

  .li {
    font-size: 2.8vw;
    -webkit-font-size: 2.8vw;
  }

  .project_img {
    background-image: url(/img/006.16dc0291.jpg);
    background-attachment: inherit;
    background-size: 100% 100%;
    width: 100%;
    height: 180px;
  }

  .project_list_title {
    font-size: 1.8vw;
    padding-top: 4px;
  }

  .project_list_table_header {
    height: 20px;
    background-color: #26a6f1;
    line-height: 2;
    font-size: 3vw;
  }

  .table100-head th {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 5vw;
    color: black;
    line-height: 1.2;
    font-weight: unset;
  }

  table thead tr {
    height: 30px;
    background: white;
  }

  table tbody tr {
    padding: 0;
    height: auto;
    padding-bottom: 10px;
    font-size: 2vw;
  }

  table td,
  table th {
    padding-left: 5px;
  }

  .project_detail_table_whole {
    margin-left: -6.5%;
    width: 105%;
    height: auto;
    -webkit-box-shadow: 0 0 2px 0 #adadad;
    box-shadow: 0 0 2px 0 #adadad;
  }

  .project_details_list li span:nth-child(1) {
    width: 25%;
    padding-inline-start: 3%;
}

  .project_details_list li span:nth-child(n+2) {
    padding-left: 0%;
    }

  .project_detail_li {
    overflow: auto;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.5vw;
  }

  .fit_project_album {
    width: 108%;
    display: none;
    float: left;
    margin-top: 2%;
    margin-left: -3%;
    margin-bottom: 4%;
    height: 153px;
    -webkit-box-shadow: 0 0 2px 0 #adadad;
    box-shadow: 0 0 2px 0 #adadad;
  }

  .project_album_photo {
    width: 85%;
  }

  .project_detail {
    width: 75%;
  }

  .project_detail_list {
    span {
      font-size: 3.8vw;
    }
  }

  .fit_project_list {
    width: 25%;
    height: 632px;
    float: left;
}

  ul {
    line-height: 1.4;
  }

  .project_list_title {
    line-height: 1.5;
  }

  .project_table {
    height: 40%;
    margin-left: 3.5%;
    width: 98%;
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1023px) and (orientation: landscape) {
  
  //CSS
  .li {
    font-size: 3.5vh;
    -webkit-font-size: 3.5vh;
  }
}
