.aboutusBack {
    width: 100%;
    height: 95%;
    display: block;
    position: relative;
  }
  
.aboutusBack::after {
    content: "";
    background: url('../assets/img/aboutus.jpg');
    background-size: cover; 
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.aboutus{
  display: block;
  background-color: white;
  margin: auto;
  height: 50%;
  width: 50%;
  //border-radius: 2%;
  top:50%;
  transform:translateY(-50%);
  position: relative;
  animation: fadein 3s;
  -webkit-box-shadow: 0px 0px 15px 0px #ADADAD; 
    box-shadow: 0px 0px 15px 0px #ADADAD;
}

.aboutus_title{
  display: block;
  height: 10%;
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 3.5vh;
}

.aboutus_content{
  display: block;
  height: 95%;
  width: 90%;
  font-size: 2.5vh;
  //color: white;
  margin: 0 auto;
}

@keyframes fadein{
  from { opacity: 0; }
  to   { opacity: 1; }
}

.aboutus_img {
  background-image: url('../assets/img/contactus.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 20%;
}

.aboutus_banner_word {
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  font-family: "RobotoCondensedBold";
  position: relative;
  margin-left: 1%;
}

.aboutus_banner {
  background-color: #41b6e6;
  width: 100%;
  height: 5%;
}