.aboutusBack {
  width: 100%;
  height: 800px;
  display: block;
}

.aboutus {
  display: block;
  //background: url('../assets/img/aboutus.jpg');
  //background-size: cover;
  height: 53%;
  width: 100%;
}

.aboutus_detail_img {
  background-image: url('../assets/img/aboutus.jpg');
  background-size: cover;
  //background-attachment: fixed;
  float: left;
  width: 43%;
  height: 100%;
  margin-top: 2%;
}

.aboutus_detail {
  display: block;
  box-sizing: border-box;
  padding: 5%;
  background-color: white;
  height: 100%;
  width: 55%;
  //margin-left: 2%;
  float: right;
  animation: fadein 3s;
  margin-top: 2%;
  -webkit-box-shadow: 0 0 15px 0 #adadad;
  box-shadow: 0 0 15px 0 #adadad;
}

.aboutus_title {
  display: block;
  border-bottom: 2px grey solid;
  height: 10%;
  width: 100%;
  margin-bottom: 5%;
  text-align: left;
  font-size: 18px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #3e7ede;
}

.aboutus_content {
  display: block;
  height: 95%;
  width: 90%;
  font-size: 16px;
  //color: white;
  margin: 0 auto;
  font-family: Verdana, Tahoma, sans-serif;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.aboutus_img {
  background-image: url('../assets/img/aboutus_banner.jpg');
  background-size: 1216px 375px;
  background-attachment: fixed;
  width: 100%;
  height: 37%;
}

.aboutus_banner_word {
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Frutiger, Univers, sans-serif;
  position: relative;
  margin-left: 1%;
  font-weight: bold;
  color: white;
}

.aboutus_banner {
  background-color: #0182ca;
  width: 100%;
  height: 5%;
}
