html{
    height: 100%;
    width: 100%;
}
  
body{
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "RobotoCondensedBold";
  //padding-left: 5%;
  //padding-right: 5%;
}
  
#app{
  height: 100%;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.example-slide {
  align-items: center;
  background-color: #666;
  color: #999;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
}