.mapouter{
    text-align:right;
    display: block;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
}

.contact {
    height: 70%;
    width: 100%;
}

.contact_detail {
    display: block;
    float: left;
    height: 70%;
    width: 50%;
    margin-top: 5%;
    -webkit-box-shadow: 0px 0px 15px 0px #ADADAD; 
    box-shadow: 0px 0px 15px 0px #ADADAD;
    position: relative;

    //margin-left: 5%;
}

.contact_detail_table {
    display: block;
    height: 70%;
    width: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.contact_detail_list {
    display: block;
    margin-bottom: 5%;
    width: 100%;
    
}

.contact_detail_logo {
    width: 8%;
    border-right: grey solid 1px;
    display: inline-block;
    margin-right: 1%;
}