footer{
    text-align:center!important;
    color: black!important;
    background-color: #f1f1f1!important;
    padding-top:36px!important;
    padding-bottom:36px!important;
    letter-spacing: 1px;
}