body{
    font-family: "Times New Roman", Georgia, Serif;
}
.top{
    top:0;
}
.nav {
    overflow: hidden;
    color: #000!important;
    background-color: #fff!important;
    padding-right: 16px!important;
    padding-left: 16px!important;
    display: block;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.logo {
    padding: 8px 16px;
    float: left;
    width: 15%;
    border: none;
    display: block;
    outline: 0;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
  
.button{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.nav-right {
    float: right!important;
}

.title{
    padding: 5% 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline:0;
    white-space: normal;
    font-size: 80%;
}
.title:hover {
   font-weight: bolder;
   background: #ecf5ff;
   color: #0B8BF9;
}

.title:active {
    //color: #ddd;
}
  
.nav-right {
    float: right!important;
    margin-right: -16px;
}

// .title:after {
//     content: '';
//     width: 0px;
//     height: 1px;
//     display: block;
//     background: black;
//     transition: 300ms;
//   }
  
//   .title:hover:after {
//     width: 100%;
//   }
  