body {
  font-family: "Times New Roman", Georgia, Serif;
}

.top {
  top: 0;
  height: 65px;
}

.nav {
  overflow: hidden;
  color: #000 !important;
  background-color: #fff !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  display: block;
  letter-spacing: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

header {
  height: 100%;
}

.logo {
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  float: left;
  border: none;
  display: block;
  outline: 0;
  height: 100%;
  width: 100%;
}

.logo_img {
  max-width: 220px;
  max-height: 100%;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.router-link-exact-active {
  //font-weight: bolder;
  background: #ecf5ff;
  color: #0b8bf9;
}

.nav_logo {
  height: 100%;
  width: 20%;
  display: inline-block;
}

.nav-right {
  float: right !important;
}

.title {
  padding: 3.5% 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  white-space: normal;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Frutiger, Univers, sans-serif;
  color: #0182ca;
}

.title:hover {
  //font-weight: bolder;
  background: #ecf5ff;
  color: #0b8bf9;
}

.nav-right {
  float: right !important;
  margin-right: -16px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav_logo {
    width: 20%;
    height: 80%;
  }

  .nav-right {
    width: auto;
  }

  .title {
    //padding: 4% 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    white-space: normal;
    font-size: 8px;
    font-family: "Helvetica Neue", Helvetica, Frutiger, Univers, sans-serif;
    color: #0182ca;
    letter-spacing: 0.5px;
  }

  .button {
    padding: 4% 6px;
  }

  .top {
    top: 0;
    height: 30px;
  }
}
