.nav{  
    height: 8%;
    width: 100%;
    box-shadow: 1px 11px 20px #c1c0c0;
}

header{
    height: 100%;
    width: 100%;
}

.brand{
    height: 100%;
    width: 10%;
    display: block;
    float: left;
}

.title_row{
    height: 100%;
    width: 30%;
    float: right;
}
.title{
    color: black;
    float: left;
    display: block;
    width: 50%;
}
