.project{
    height: 145%;
    width: 100%;
    overflow: hidden;
}

.project_banner_word{
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    font-family: "RobotoCondensedBold";
    position: relative;
    margin-left: 1%;
    font-weight: bold;
    color: white;
}

.project_banner_country {
  display: inline-block;
  white-space: pre;
  font-weight: bold;
}

.project_img{
    background-image: url('../assets/img/project.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 28%;
}

.project_banner{
    background-color: #006699;
    width: 100%;
    height: 4%;
}

.project_select_option{
    display: inline-block;
    
}

.project_select_individual{
    display: inline-block;
    height: 100%;
    margin-right:2%;

}

.project_info{
    width: 100%;
    //height: max-content;
    height: 70%;
}

.fit_project_list{
    width: 25%;
    height: 100%;
    float: left;
}

.project_list{
    width: 81%;
    height: 100%;
    border-right:1px solid grey;
    border-left:1px solid grey;
    //margin: 0 auto;
}

.project_list_table{
    //margin-top: 20px;
    border-radius: 0;
    //border-right: 1px solid grey;
}

.project_list_table_header{
    height: 40px;
    background-color: #0182CA;
    line-height: 2;
}

.project_list_title{
    width: 100%;
    //height: 100%;
    display: block;
    text-align: center;
    font-size: 1em;
    color: white;
    padding-left: 0;
}

.project_list_item{
    background-color: #ffffff;
    color: black;
    //border: 1.5px solid #e2e2e2;
    //border-right: 2px solid #e2e2e2;
}

.project_list_item:hover{
    background-color: #ecf5ff;
    color: black;
}

.project_detail{
    width: 66%;
    display: block;
    float: left;
    height: 100%;
}

 .project_table {
   height: 40%;
   margin-top: 1%;
   width: 100%;
 }

.project_detail_table_whole{
  width: fit-content;
  display: none;
}

.project_detail_table{
  width: 100%;
  display: block;
  height: 100%;
  margin-top: 1%;
}

.fit_project_album{
    width: 100%;
    display: none;
    float: left;
    //margin-top: 2%;
    height: 40%;
    box-shadow: 0px 0px 15px 0px #ADADAD;
}

.project_album{
    width: 90%;
    height: 100%;
    display: block;
    //margin: 0 auto;
    //margin-top: 5%;
}

// .project_album_now{
//     float: right;
//     width: 60%;
//     height: 70%;
// }

.project_album_now{
    float:right;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.project_detail_list{
    //width: 50%;
    display: block;
    float: left;
    margin-top: 2%; 
    
    li{
      color: grey;
    }

    li:hover{
      cursor: pointer;
    }
}

.project_album_show{
    display: block;
    margin: 0 auto;
    height: -webkit-fill-available;
    max-width: 100%;
}

.project_album_list{
    float: left;
    margin-top: 1%;
    overflow-y: scroll;
    //overflow-y: hidden;
    height: 80%;
    width: 10%;
    margin: 0 auto;
    white-space: nowrap;
}

.project_album_photo{
    height: 20%;
    width: 95%;
    display: block;
    //margin-left: 1%;
    border: black 1px solid;
    margin-bottom: 1%;
    margin:0 auto;
}

.project_album_photo:hover{
  opacity: 0.5;
}

table {
    //border-spacing: 1;
    border-spacing: 0;
    border-collapse: collapse;
    background: white;
    //border-radius: 10px;
    //border: 1px rgb(70, 68, 68) solid;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  table * {
    position: relative;
  }

  table td, table th {
    padding-left: 8px;
  }

  table thead tr {
    height: 60px;
    background: #292c2f;
  }

  table tbody tr {
    height: 50px;
  }

  table td, table th {
    text-align: center;
  }
  
  .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody .project_detail_table:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody .project_detail_table:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .column{
    width: 100%;
  }

  .column1_project{
      color: #000000;
    }

  .column1_project:hover{
        color: #000000;
        cursor: pointer;
    }

  .column1 {
    width: 50%;
  }
  
  .column2 {
    width: 50%;
  }
  
  @media screen and (max-width: 992px) {
    table {
      display: block;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }

    .column1,
    .column2{
      width: 100%;
    }
  
    tbody tr {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .br{
    white-space: pre;
    display: block;
  }

  .li {
    font-size: 1em;
  }
  
  .li:hover {
    //box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    //-webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  